# list of dirs created to use the datasets
/augmented_dataset
/image_database
/Imagens\ Originais
/images_png

# auxiliar code not used in the final project
image_converter.py
# small script used to convert .jpg to .png
tests.ipynb
# jupyter notebook used to run tests in a separate database 